<?xml version="1.0"?>
<!--
/**
 * @author Atwix Team
 * @copyright Copyright (c) Atwix (https://www.atwix.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Atwix_Config::menu"
             title="Atwix Extensions"
             translate="title"
             module="Atwix_Config"
             sortOrder="75"
             dependsOnModule="Atwix_Config"
             resource="Atwix_Config::menu"/>
    </menu>
</config>
